<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pizza</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pizza là một món ăn của Ý bao gồm một cơ sở tròn, dẹt của bột 
                            lúa mì được làm bằng bánh mì với cà chua, phô mai và thường là các thành phần khác, 
                            sau đó được nướng ở nhiệt độ cao, theo truyền thống trong lò nướng bằng gỗ. Một chiếc 
                            bánh pizza nhỏ đôi khi được gọi là pizzetta.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani là một món gạo hỗn hợp. Nó được làm bằng các loại gia vị, 
                            gạo và thịt của Ấn Độ thường là thịt gà, cá, và đôi khi, ngoài ra, trứng hoặc rau như 
                            khoai tây trong một số giống khu vực.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pasta là một loại thực phẩm thường được làm từ bột lúa mì không men 
                            trộn với nước hoặc trứng, và hình thành thành các tấm hoặc các hình dạng khác, sau đó 
                            nấu bằng cách đun sôi hoặc nướng.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake là một món tráng miệng phổ biến kết hợp các yếu tố 
                            của một chiếc bánh chocolate và một loại soufflé. Tên của nó bắt nguồn từ trung tâm sô cô la 
                            lỏng của món tráng miệng, và nó còn được gọi là chocolate moelleux, chocolate lava cake, hoặc 
                            đơn giản là lava cake.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>