<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <img src="../../assets/img/logo.jpg" alt="Logo Quán Coffee" style="height: 80px;" />
    </a>
    <ul class="auth-buttons">
      <li><a class="btn-white" (click)="openLogin()">Đăng Nhập</a></li>
      <li><a class="btn-white" (click)="openSignup()">Đăng Ký</a></li>
      <li><a class="btn-white" (click)="openForgotPassword()">Quên Mật Khẩu?</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved &#64;MaiTienManh</h2>
</div>