<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>local_cafe</mat-icon> Hệ Thống Quản Lý Quán Coffee
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Đăng Nhập</a>
        <a (click)="handleSignupAction()">Đăng Ký</a>
        <a (click)="handleForgotPasswordAction()">Quên Mật Khẩu?</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved &#64;MaiTienManh</h2>
</div>