.mat-toolbar{
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    background: linear-gradient(to right, #6f4e37, #a68a64);
}

.category-title {
  color: #fff8f1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.category-content {
  padding: 24px;
  background: linear-gradient(to bottom, #ffffff, #f9f1e7);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 2px 10px rgba(111, 78, 55, 0.2);
}

.category-form-field {
  width: 100%;
  background-color: #fffaf5;
  border-radius: 8px;
  padding: 5px;
}

mat-form-field:hover {
  border: 2px solid #6f4e37;
  box-shadow: 0 0 10px rgba(111, 78, 55, 0.4);
  background-color: #f9f1e7;
  transition: all 0.3s ease;
}

.category-actions {
  padding: 16px;
  border-top: 1px solid #ddd;
  background-color: #fdfaf6;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

button[mat-raised-button] {
  background: linear-gradient(to right, #6f4e37, #a68a64);
  color: white;
  border-radius: 8px;
  transition: transform 0.2s ease;
}
button[mat-raised-button]:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(111, 78, 55, 0.4);
}
button[mat-raised-button][disabled] {
  background: #ccc;
  color: #666;
}
