<body>
    <mat-card>
        <p class="text-heading2-bold">Bảng Điều Khiển</p>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="title" style="margin: 0;">Tổng Danh Mục</h2>
                        <mat-icon>category</mat-icon>
                    </div>
                    <h1 class="title" style="margin-top: 20px;">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/category']">Xem Danh Mục</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="title" style="margin: 0;">Tổng Sản Phẩm</h2>
                        <mat-icon>local_cafe</mat-icon>
                    </div>
                    <h1 class="title" style="margin-top: 20px;">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/product']">Xem Sản Phẩm</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="title" style="margin: 0;">Tổng Hóa Đơn</h2>
                        <mat-icon>receipt_long</mat-icon>
                    </div>
                    <h1 class="title" style="margin-top: 20px;">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/bill']">Xem Hóa Đơn</button></p>
                </div>
            </div>
        </div>
    </div>

    <mat-card>
        <p class="text-heading2-bold">Doanh Thu Theo Tháng</p>
        <div class="table-container">
            <table class="revenue-table">
                <thead>
                    <tr>
                        <th>Tháng</th>
                        <th>Doanh Thu (VNĐ)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of monthlyRevenue">
                        <td>{{ item.month }}</td>
                        <td>{{ item.revenue | number:'1.0-0' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
</body>