mat-form-field{
    padding: 5px;
}

.float-right{
    float: right;
}

table{
    width: 100%;
}

mat-card{
    padding-bottom: 30px !important;
}

.text-heading2-bold {
    padding-top: 10px;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}