.float-right{
    float: right;
}

mat-card{
    padding: 20px;
}

table{
    width: 100%;
}

.text-heading2-bold {
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid #6f4e37; 
    border-radius: 8px; 
    padding: 20px;
}